<body>
<div class="title">This Week's Plans</div>
  <div class="hashtag">
    <div class="interview">#interview</div>
      <div class="row">
        <div class="rectangle"></div>
        <div class="rectangleshadow"></div>
        <div class="hours">4 HRS</div>   
      </div>  
    <div class="coverletter">#coverletter</div>
      <div class="row">
        <div class="rectangle green"></div>
        <div class="rectangleshadow green"></div>
        <div class="hours green">3 HRS</div>
      </div>
    <div class="internapps">#internapps</div>
      <div class="row">
        <div class="rectangle peach"></div>
        <div class="rectangleshadow peach"></div>
        <div class="hours peach">2 HRS</div>
      </div>
  </div>
</body>